<div *ngIf="event" class="card" style="border:none">
  <div style="overflow:hidden; width: 100%; height: 200px;">
    <img style="width: 100%; display: block;" [src]="event.img_link || defaultImgLink" alt="">
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ event.name }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ event.date | date: 'MMM dd yyyy, h:mm' }}</h6>
    <p class="card-text text-muted">{{ event.short_description }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-muted">{{ event.ticket_price }} {{ event.ticket_currency }}</div>
      <button [routerLink]="[ '/events', event.$key ]" type="button" class="btn btn-outline-primary">Подробнее</button>
    </div>
  </div>
</div>